# Environment
.env
.env.local
.env*.local

# Dependencies
node_modules

# Next.js
.next
out

# Build
dist
build

# Debug
npm-debug.log*
*.log

# Supabase
supabase/.branches
supabase/.temp

# IDE
.idea
.vscode

# Legacy
_legacy/

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
